.App {
  /* app css :) */
  background-color: rgb(14, 17, 22);
  padding: 2rem;
  align-items: center;
}

.title {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.markdown img {
  width: 300px;
}